html {
    padding: 0;
    border: none;
    margin: 0;

    height: 100%;
    background-repeat: no-repeat;

    
    align-items: center;
    text-align: center;
    justify-content: center; 
    align-self: center;
    align-content: center;
    
    margin:auto;
}


a, a:hover {
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
}

.converter-page {
    background-image: linear-gradient(120deg, #F8CDCD 0%, #91a8d1 100%);
    font-family: "kyobo";
}

.howto-page {
    background-image: linear-gradient(120deg, #F8CDCD 0%, #91a8d1 100%);
    font-family: "kyobo";
    align-items: center;

    display: flex;
    flex-direction: column;

    background-attachment: fixed;
}

.howto-section {
    max-width: 70%;

    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5vh;

    padding: 5vh;
    margin: 5vh;
}


#title {
    font-family: "jalnan"; 
}

#images {
    width:45%;
    
}


#description {
    font-size: 15px;
}


.box, .panel, .codeview, .note-frame, .note-editor {
    margin: auto;
    font-size:15px;
    padding: 3vh;

    border: 2px solid;

    color: black !important;
    background-color: rgb(255,255,255,0.35) !important;
    border-radius: 30px !important;

}

.note-codable, .note-editable, .note-editing-area {
    width: 100%;
    background-color: transparent !important;
    color: black !important;
    text-align: justify !important;
}


.panel-heading, .note-toolbar, .note-statusbar {
    background-color: transparent !important;
    color: transparent !important;
}


.image {
    padding-bottom: 30px;
}

.buttons button {
    width: 15vh;

    border: none;
    border-radius: 0.5vh;
    font-family: "kyobo"; 
    font-size: 15px;
    text-decoration: bold;

    margin: 1%;
}

.image input {
    width: 180px;
    border: none;
    border-radius: 1vh;

    font-family: "kyobo";
    height: 15%;
}


@font-face {
    font-family: "kyobo";       
    src: url("./assets/Kyobo Handwriting 2019.ttf");
  }



  @font-face {
    font-family: "jalnan";       
    src: url("./assets/Jalnan.ttf");
  }